<footer class="footer">
  <div class="footer-content">
    <p>© 2025 AllIntelli. Built with ❤️ by Akshat Mishra</p>

    <div class="footer-buttons">
      <button routerLink="/draw">✏️ Draw</button>

      <button (click)="goHome()">🏠 Home</button>
      <button (click)="scrollToTools()">🧠 Tools</button>
      <button routerLink="/admin">🔧 Admin Panel</button>
    </div>

    <div class="social-links">
      <a href="https://github.com/akshatmishra-07" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub" />
      </a>
      <a href="https://www.linkedin.com/in/akshat-mishra-a1949b201" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" />
      </a>
    </div>
  </div>
</footer>
